.body-content__rollig-text {
    white-space: nowrap;
    font-family: 'Playfair Display', serif;
    margin-top: .1vw;
      .rolling-text__text {
        font-size: 4vw;
        display: inline-block;
      }
    }